{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-home text-center">
        <h2>PHP Projects</h2>

        <table>
            {% for key,project in projects %}
                <tr>
                    <td>
                        <h3><a href="https://github.com/chadicus/{{ project.github|e }}">{{ project.title|e }}</a></h3>
                        <p>{{ project.description|e }}</p>
                    </td>
                <tr>
                </tr>
                    <td>
                        <a alt="Build Status" href="https://travis-ci.org/chadicus/{{ project.github|e }}">
                            <img src="http://img.shields.io/travis/chadicus/{{ project.github|e }}.svg?style=flat" />
                        </a>
                        <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/{{ project.github|e }}">
                            <img src="http://img.shields.io/scrutinizer/g/chadicus/{{ project.github|e }}.svg?style=flat" />
                        </a>
                        <a alt="Code Coverage" href="https://coveralls.io/github/chadicus/{{ project.github|e }}?branch=master">
                            <img src="https://coveralls.io/repos/chadicus/{{ project.github|e }}/badge.svg?branch=master&service=github" />
                        </a>
                        <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="http://img.shields.io/packagist/v/chadicus/{{ project.packagist|e }}.svg?style=flat" />
                        </a>
                        <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="http://img.shields.io/packagist/dt/chadicus/{{ project.packagist|e }}.svg?style=flat" />
                        </a>
                        <a alt="License" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="http://img.shields.io/packagist/l/chadicus/{{ project.packagist|e }}.svg?style=flat" />
                        </a>
                        <a alt="Documentation" href="http://chadicus.github.io/{{ project.github|e }}">
                            <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                        </a>
                    </td>
                </tr>
            {% endfor %} 
        </table>
    </div>
{% endblock %}
