{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron jumbotron-home">
        <h2>PHP Projects</h2>

        <table>
            {% for key,project in projects %}
                <tr>
                    <td>
                        <h3><a href="https://github.com/chadicus/{{ project.github|e }}">{{ project.title|e }}</a></h3>
                        <p>{{ project.description|e }}</p>
                        <br />
                        {% if project.travisci %}
                            <a alt="Build Status" href="https://travis-ci.org/chadicus/{{ project.github|e }}">
                                <img src="https://travis-ci.org/chadicus/{{ project.github|e }}.svg?branch=master" />
                            </a>
                        {% endif %}
                        {% if project.scrutinizer %}
                            <a alt="Code Quality" href="https://scrutinizer-ci.com/g/chadicus/{{ project.github|e }}/?branch=master">
                                <img src="https://scrutinizer-ci.com/g/chadicus/{{ project.github|e }}/badges/quality-score.png?b=master" />
                            </a>
                        {% endif %}
                        {% if project.coverage %}
                            <a alt="Code Coverage" href="https://coveralls.io/github/chadicus/{{ project.github|e }}?branch=master">
                                <img src="https://coveralls.io/repos/github/chadicus/{{ project.github|e }}/badge.svg?branch=master" />
                            </a>
                        {% endif %}
                        <br />
                        <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/v/stable" />
                        </a>
                        <a alt="Latest Unstable Version" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/v/unstable" />
                        </a>
                        <a alt="License" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/license" />
                        </a>
                        <br />
                        <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/downloads" />
                        </a>
                        <a alt="Daily Downloads" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/d/daily" />
                        </a>
                        <a alt="Monthly Downloads" href="https://packagist.org/packages/chadicus/{{ project.packagist|e }}">
                            <img src="https://poser.pugx.org/chadicus/{{ project.packagist|e }}/d/monthly" />
                        </a>
                    </td>
                </tr>
            {% endfor %} 
        </table>
    </div>
{% endblock %}
