{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="jumbotron jumbotron-home text-center">
    <h2>PHP Projects</h2>

    <table>                                                                                                                                      
        <tr>
            <td>
                <h3>Exceptions</h3>
                <p>Collection of exception classes and utilities</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/exceptions-php">
                    <img src="http://img.shields.io/travis/chadicus/exceptions-php.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/exceptions-php">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/exceptions-php.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/exceptions-php">
                    <img src="http://img.shields.io/coveralls/chadicus/exceptions-php.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/exceptions">
                    <img src="http://img.shields.io/packagist/v/chadicus/exceptions.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/exceptions">
                    <img src="http://img.shields.io/packagist/dt/chadicus/exceptions.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/exceptions">
                    <img src="http://img.shields.io/packagist/l/chadicus/exceptions.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/exceptions-php">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>TestHelpers</h3>
                <p>Classes designed to assist with PHPUnit testing</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/test-helpers">
                    <img src="http://img.shields.io/travis/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/test-helpers">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/test-helpers">
                    <img src="http://img.shields.io/coveralls/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/test-helpers">
                    <img src="http://img.shields.io/packagist/v/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/test-helpers">
                    <img src="http://img.shields.io/packagist/dt/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/test-helpers">
                    <img src="http://img.shields.io/packagist/l/chadicus/test-helpers.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/test-helpers">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Date</h3>
                <p>DateTime utilities and classes</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/date-php">
                    <img src="http://img.shields.io/travis/chadicus/date-php.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/date-php">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/date-php.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/date-php">
                    <img src="http://img.shields.io/coveralls/chadicus/date-php.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/date">
                    <img src="http://img.shields.io/packagist/v/chadicus/date.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/date">
                    <img src="http://img.shields.io/packagist/dt/chadicus/date.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/date">
                    <img src="http://img.shields.io/packagist/l/chadicus/date.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/date-php">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>DOM</h3>
                <p>Collection of DOMDocument utilities</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/dom-php">
                    <img src="http://img.shields.io/travis/chadicus/dom-php.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/dom-php">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/dom-php.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/dom-php">
                    <img src="http://img.shields.io/coveralls/chadicus/dom-php.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/dom">
                    <img src="http://img.shields.io/packagist/v/chadicus/dom.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/dom">
                    <img src="http://img.shields.io/packagist/dt/chadicus/dom.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/dom">
                    <img src="http://img.shields.io/packagist/l/chadicus/dom.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/dom-php">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Spl</h3>
                <p>A collection of interfaces and classes that are meant to solve common problems.</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/spl-php">
                    <img src="http://img.shields.io/travis/chadicus/spl-php.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/spl-php">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/spl-php.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/spl-php">
                    <img src="http://img.shields.io/coveralls/chadicus/spl-php.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/spl">
                    <img src="http://img.shields.io/packagist/v/chadicus/spl.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/spl">
                    <img src="http://img.shields.io/packagist/dt/chadicus/spl.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/spl">
                    <img src="http://img.shields.io/packagist/l/chadicus/spl.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/spl-php">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Encapsules</h3>
                <p>A collection of small wrapper classes which encapsulates behavior with primitive types and strings.</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/encapsules">
                    <img src="http://img.shields.io/travis/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/encapsules">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/encapsules">
                    <img src="http://img.shields.io/coveralls/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/encapsules">
                    <img src="http://img.shields.io/packagist/v/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/encapsules">
                    <img src="http://img.shields.io/packagist/dt/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/encapsules">
                    <img src="http://img.shields.io/packagist/l/chadicus/encapsules.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/encapsules">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Primaids</h3>
                <p>A collection of utility classes to work with PHP primitive types.</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/primaids">
                    <img src="http://img.shields.io/travis/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/primaids">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/primaids">
                    <img src="http://img.shields.io/coveralls/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/primaids">
                    <img src="http://img.shields.io/packagist/v/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/primaids">
                    <img src="http://img.shields.io/packagist/dt/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/primaids">
                    <img src="http://img.shields.io/packagist/l/chadicus/primaids.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/primaids">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <h3>IO</h3>
                <p>Collection of PHP classes to work with file systems</p>
            </td>
            <td>
                <a alt="Build Status" href="https://travis-ci.org/chadicus/io-php">
                    <img src="http://img.shields.io/travis/chadicus/io-php.svg?style=flat" />
                </a>
                <a alt="Scrutinizer Code Quality" href="https://scrutinizer-ci.com/g/chadicus/io-php">
                    <img src="http://img.shields.io/scrutinizer/g/chadicus/io-php.svg?style=flat" />
                </a>
                <a alt="Code Coverage" href="https://coveralls.io/r/chadicus/io-php">
                    <img src="http://img.shields.io/coveralls/chadicus/io-php.svg?style=flat" />
                </a>
                <a alt="Latest Stable Version" href="https://packagist.org/packages/chadicus/io">
                    <img src="http://img.shields.io/packagist/v/chadicus/io.svg?style=flat" />
                </a>
                <a alt="Total Downloads" href="https://packagist.org/packages/chadicus/io">
                    <img src="http://img.shields.io/packagist/dt/chadicus/io.svg?style=flat" />
                </a>
                <a alt="License" href="https://packagist.org/packages/chadicus/io">
                    <img src="http://img.shields.io/packagist/l/chadicus/io.svg?style=flat" />
                </a>
                <a alt="Documentation" href="http://chadicus.github.io/io-php">
                    <img src="https://img.shields.io/badge/reference-phpdoc-blue.svg?style=flat" />
                </a>
            </td>
        </tr>
    </table>
{% endblock %}
